.qq {
    width: 550px;
    height: 400px;
    background-color:  black;
    margin: 0 auto;
    align-items: center;
    
}

.ww {
    width: 780px;
    height: 540px;
    background-color: green;
    margin: 0 auto;
    align-items: center;
   
}


.conor{
    width: 1000px;
    height: 500px;
    border: 10px solid rgb(0, 0, 0);
    background-color: blueviolet;
    display: flex;
    flex-wrap: wrap;
}


.conor img{
    width: 500px;
    height: 500px;
}